@model IEnumerable<TA__Application.Models.Availability>

@{
    ViewData["Title"] = "Index";
}

<!--
  Author:    Jingwen Zhang
  Partner:   -Na-
  Date:      2021/11/28
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jingwen Zhang - This work may not be copied for use in Academic Coursework.

  I, Jingwen Zhang, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
-->
<style>
    body {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #overlay {
        position: absolute;
        margin: auto;
        top: 80%;
        bottom: 10%;
        z-index: 100;
        width: 49%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.js"></script>
<script type="text/javascript" src="~/js/AvailabilityTracker.js"></script>

<div>
    <h1>Availability Setting Page</h1>
    <h5>
        Please indicate all time you will be available during the week. This information is uesd by the hiring committee and professor to determine class coverage,
        lab coverage, office hour coverage, etc.
    </h5>
    <h5>
        (Note: Any work necessary on the weekends will be up to you and your professor to negotiate.)
    </h5>
    <hr>
    <h5>If your schedule changes, please come back and update this record.</h5>
</div>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<script type="text/javascript">

    //Create a Pixi Application
    let app = new PIXI.Application({
    antialias: true,    // default: false
    transparent: false, // default: false
    resolution: 1       // default: 1
    });

    //Add the canvas that Pixi automatically created to the HTML document
    document.body.appendChild(app.view);

    app.renderer.backgroundColor = 0x061639;

    app.renderer.view.style.position = "absolute";
    app.renderer.view.style.display = "block";
    app.renderer.autoResize = true;
    app.renderer.resize(window.innerWidth, window.innerHeight);

    var jsPreSlots = [];
    var array = @Html.Raw(Json.Serialize(@ViewBag.preAvas));
    for(var i = 0; i < array.length; i++) {
        jsPreSlots[i] = array[i];
    }
    let userID = "";
    userID = @Html.Raw(Json.Serialize(@ViewBag.userID));
    let access = @Html.Raw(Json.Serialize(@ViewBag.access));

    tracker = new AvailabilityTracker();
    if (access) {
        tracker.setslots_draw(app, jsPreSlots, userID);
        tracker.slots_draw(app);
        tracker.button_draw(app, userID);
    } else {
        tracker.readonly_draw(app, jsPreSlots);
        tracker.slots_draw(app);
    }

</script>





